{% extends 'diets/layoutmain_pdf.html' %}
{% load static %}
{% block body %}
    
    <div class="row py-4">
        <h1 class="display-4 fw-bold text-body-emphasis">Revision</h1>
        <h2>{{revision.cliente.nombre}} {{revision.cliente.apellidos}}</h2>
        <h3>{{revision.fecha}} - Proxima revision: {{revision.fecha_proxima}}</h3>
        <table class="table mt-4">
            <thead>
                <tr>
                    <th>Peso</th>
                    <th>Cintura</th>
                    <th>Cadera</th>
                    <th>Grasa</th>
                    <th>IMC</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{revision.peso}} kg.</td>
                    <td>{{revision.contorno_cintura}} cm.</td>
                    <td>{{revision.contorno_cadera}} cm.</td>
                    <td>{{revision.grasa_corporal}} %</td>
                    <td>{{revision.IMC}}</td>
                </tr>
            </tbody>
        </table>
        
        <div class="m-4">
            <table class="table">
                <thead>
                    <tr>
                        <th><h1 class="display-4 fw-bold text-body-emphasis">Plan Nutricional</h1></th>
                    </tr>
                </thead>
            </table>
            
            <h2 class="display-5 fw-bold text-body-emphasis">Desayuno</h2>
                <p>{{revision.desayuno}} </p>
            <h2 class="display-5 fw-bold text-body-emphasis">M.Mañana</h2>
                <p>{{revision.media_manana}} </p>
            <h2 class="display-5 fw-bold text-body-emphasis">Almuerzo</h2>
                <p>{{revision.almuerzo}} </p>
            <h2 class="display-5 fw-bold text-body-emphasis">Merienda</h2>
                <p>{{revision.merienda}} </p>
            <h2 class="display-5 fw-bold text-body-emphasis">Cena</h2>
                <p>{{revision.cena}} </p>
            <h2 class="display-5 fw-bold text-body-emphasis">Post Cena</h2>
                <p>{{revision.post_cena}} </p>

            <table class="table my-5">
                <thead>
                    <tr>
                        <th><h1 class="display-4 fw-bold text-body-emphasis">Observaciones</h1></th>
                    </tr>
                </thead>
            </table>
            <p>{{revision.cliente.observaciones}}</p>
        </div>
    </div>
{% endblock %}
