{% extends "users/layout.html" %}
{% load static %}

{% block body %}

      <div class="row m-0 vh-100 justify-content-center align-items-center">
        <div class="col-sm-6 col-md-4 text-center">
          <img src="{% static 'sie7eG.png' %}" class="img-fluid justify-content-center" width="250px">
           <form action="{% url 'login' %}" method="post">

               {% csrf_token %}
                <div class="form-floating mt-4 mb-3">
                    <input type="text" class="form-control" id="floatingInput" name="username" placeholder="name@example.com">
                    <label for="floatingInput">Username</label>
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Contraseña">
                    <label for="floatingPassword">Password</label>
                </div>
                <div class="form-floating mt-4 mb-3">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>

          </form>
        </div>
      </div>

{% endblock %}